In [1]:
import pandas as pd
import numpy as np

## Importing data from Mainframe query of all related GUID

In [2]:
capi_cor_df = pd.read_csv('CAPI1_correspondence_GUID.csv')

In [16]:
capi_cor_df.columns = capi_cor_df.columns.str.lower()

In [17]:
capi_cor_df.head()

,capi_guid,capi_document_date,capi_barcode_userid,capi_form_id,capi_event_date,capi_appraiser_nbr,capi_note,capi_f_entrydate,capi_scan_date,capi_operator,capi_committed_flag,capi_post_key,capi_post_userid
0,{A808DF77-996B-4BB5-A4BC-8B020B651737},12/31/2022,NaN,NP0830,12/31/2022,747,NaN,3/20/2024 7:47,3/20/2024,I3532,N,3/20/2024 7:47,I3532
1,{BF3C6058-2B81-4737-AA7D-D81C22E7176F},12/31/2021,NaN,NP0830,12/31/2021,679,CALL IN REVIEW,10/19/2022 8:17,10/19/2022,H8585,N,10/19/2022 8:17,H8585
2,{B66E333E-F924-4945-8C70-841C2910F0BD},12/31/2019,NaN,NP0830,12/31/2019,704,PROP 8 REQUEST WAS DENIED,7/27/2021 12:55,7/27/2021,H8585,N,7/27/2021 12:55,H8585
3,{CAA5AED4-0C1A-4805-81FE-5F70E380AAD4},12/31/2020,NaN,NP0830,12/31/2020,695,NaN,2/17/2022 13:42,2/17/2022,H8585,N,2/17/2022 13:42,H8585
4,{C8C3A7AE-736D-4727-A539-1CAAE35C3BC5},9/8/2021,NaN,NP0830,9/8/2021,670,09/08/2021 TOT-TRF,7/14/2022 8:32,7/14/2022,H8585,N,7/14/2022 8:32,H8585

## Importing data from Mainframe query of all related Parcels

In [5]:
capp_cor_df = pd.read_csv('CAPP1_correspondence_GUID.csv')

In [6]:
capp_cor_df.head()

,CAPP_GUID,CAPP_PARCEL_NBR,CAPP_POST_KEY,CAPP_POST_USERID
0,{AE6867B6-D6D7-42A4-AEC1-22EDE396ED16},1.860945e+11,3/19/2024 7:56,I3532
1,{A808DF77-996B-4BB5-A4BC-8B020B651737},1.028660e+12,3/20/2024 7:47,I3532
2,{BF3C6058-2B81-4737-AA7D-D81C22E7176F},4.861311e+11,10/19/2022 8:17,H8585
3,{B66E333E-F924-4945-8C70-841C2910F0BD},3.031754e+11,7/27/2021 12:55,H8585
4,{CAA5AED4-0C1A-4805-81FE-5F70E380AAD4},2.581314e+11,2/17/2022 13:42,H8585

### Change column headers to lowercase and clean up the parcel numbers

In [10]:
capp_cor_df.columns = capp_cor_df.columns.str.lower()

In [12]:
capp_cor_df['parcel_nbr_int'] = capp_cor_df['capp_parcel_nbr'].astype(int)

In [13]:
capp_cor_df.head()

,capp_guid,capp_parcel_nbr,capp_post_key,capp_post_userid,parcel_nbr_int
0,{AE6867B6-D6D7-42A4-AEC1-22EDE396ED16},1.860945e+11,3/19/2024 7:56,I3532,186094510000
1,{A808DF77-996B-4BB5-A4BC-8B020B651737},1.028660e+12,3/20/2024 7:47,I3532,1028660000000
2,{BF3C6058-2B81-4737-AA7D-D81C22E7176F},4.861311e+11,10/19/2022 8:17,H8585,486131100000
3,{B66E333E-F924-4945-8C70-841C2910F0BD},3.031754e+11,7/27/2021 12:55,H8585,303175390000
4,{CAA5AED4-0C1A-4805-81FE-5F70E380AAD4},2.581314e+11,2/17/2022 13:42,H8585,258131370000

In [14]:
capp_cor_df['parcel_nbr_clean'] = capp_cor_df['parcel_nbr_int'].astype(str).apply(lambda x: '0' + x if len(x) == 12 else x)

In [15]:
capp_cor_df.head()

,capp_guid,capp_parcel_nbr,capp_post_key,capp_post_userid,parcel_nbr_int,parcel_nbr_clean
0,{AE6867B6-D6D7-42A4-AEC1-22EDE396ED16},1.860945e+11,3/19/2024 7:56,I3532,186094510000,0186094510000
1,{A808DF77-996B-4BB5-A4BC-8B020B651737},1.028660e+12,3/20/2024 7:47,I3532,1028660000000,1028660000000
2,{BF3C6058-2B81-4737-AA7D-D81C22E7176F},4.861311e+11,10/19/2022 8:17,H8585,486131100000,0486131100000
3,{B66E333E-F924-4945-8C70-841C2910F0BD},3.031754e+11,7/27/2021 12:55,H8585,303175390000,0303175390000
4,{CAA5AED4-0C1A-4805-81FE-5F70E380AAD4},2.581314e+11,2/17/2022 13:42,H8585,258131370000,0258131370000

## Merge the CAPI DataFram with CAPP based on matching GUID

In [20]:
merged_cap_cor_df = pd.merge(capp_cor_df, capi_cor_df, left_on='capp_guid', right_on='capi_guid', how='outer')

In [35]:
merged_cap_cor_df.head()

,capp_guid,capp_parcel_nbr,capp_post_key,capp_post_userid,parcel_nbr_int,parcel_nbr_clean,capi_guid,capi_document_date,capi_barcode_userid,capi_form_id,capi_event_date,capi_appraiser_nbr,capi_note,capi_f_entrydate,capi_scan_date,capi_operator,capi_committed_flag,capi_post_key,capi_post_userid
0,{016F4232-F982-4293-9C89-3AB6B499A0D9},1.110360e+12,7/26/2022 7:33,H8585,1110360000000,1110360000000,{016F4232-F982-4293-9C89-3AB6B499A0D9},12/31/2021,NaN,NP0830,12/31/2021,705.0,NaN,7/26/2022 7:33,7/26/2022,H8585,N,7/26/2022 7:33,H8585
1,{06CCC542-6119-45D2-AE1F-E70576E556F1},2.502113e+11,9/29/2021 16:13,H8585,250211340000,0250211340000,{06CCC542-6119-45D2-AE1F-E70576E556F1},12/31/2020,NaN,NP0830,12/31/2020,705.0,NaN,9/29/2021 16:13,9/29/2021,H8585,N,9/29/2021 16:13,H8585
2,{0AFE1AB8-3E0E-4CEA-BF8F-73BCEECD0606},1.028660e+12,3/4/2024 16:26,I3532,1028660000000,1028660000000,{0AFE1AB8-3E0E-4CEA-BF8F-73BCEECD0606},12/31/2022,NaN,NP0830,12/31/2022,747.0,NaN,3/4/2024 16:26,3/4/2024,I3532,N,3/4/2024 16:26,I3532
3,{0F1E6651-ABEA-418F-824F-7100A7AC19A0},1.028660e+12,3/20/2024 7:47,I3532,1028660000000,1028660000000,{0F1E6651-ABEA-418F-824F-7100A7AC19A0},12/31/2022,NaN,NP0830,12/31/2022,747.0,NaN,3/20/2024 7:47,3/20/2024,I3532,N,3/20/2024 7:47,I3532
4,{18AB7549-F7D4-405B-BED5-A23CA29CBF8F},1.321320e+11,8/9/2022 8:34,H8585,132132040000,0132132040000,{18AB7549-F7D4-405B-BED5-A23CA29CBF8F},12/31/2021,NaN,NP0830,12/31/2021,714.0,NaN,8/9/2022 8:34,8/9/2022,H8585,N,8/9/2022 8:34,H8585

## Get only related columns and covert date to a datetime

In [36]:
cap_cor_df = merged_cap_cor_df[['capp_guid', 'parcel_nbr_clean', 'capi_event_date']]

In [39]:
cap_cor_df.loc[:,'event_date'] = pd.to_datetime(cap_cor_df['capi_event_date'])
cap_cor_df.head()

,capp_guid,parcel_nbr_clean,capi_event_date,event_date
0,{016F4232-F982-4293-9C89-3AB6B499A0D9},1110360000000,12/31/2021,2021-12-31
1,{06CCC542-6119-45D2-AE1F-E70576E556F1},0250211340000,12/31/2020,2020-12-31
2,{0AFE1AB8-3E0E-4CEA-BF8F-73BCEECD0606},1028660000000,12/31/2022,2022-12-31
3,{0F1E6651-ABEA-418F-824F-7100A7AC19A0},1028660000000,12/31/2022,2022-12-31
4,{18AB7549-F7D4-405B-BED5-A23CA29CBF8F},0132132040000,12/31/2021,2021-12-31

In [ ]:
## Drop capi_event_date

## Import the Images to be Deleted list from Dawn Solis

In [28]:
dawn_cor_df = pd.read_csv('image_list_correspondence_dawn.csv')

In [29]:
dawn_cor_df.head()

         parcel_nbr  event_date event_date2 other_note
0  1011-091-02-0000  03/06/2024         NaN        NaN
1  1008-431-08-0000  03/06/2024         NaN     Other
2  0292-381-39-0000  03/07/2024         NaN        NaN
3  1005-423-20-0000  03/11/2024         NaN        NaN
4  0273-132-17-0000  03/13/2024         NaN        NaN

In [30]:
dawn_cor_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148 entries, 0 to 147
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   parcel_nbr   140 non-null    object
 1   event_date   139 non-null    object
 2   event_date2  4 non-null      object
 3   other_note   10 non-null     object
dtypes: object(4)
memory usage: 4.8+ KB

## Clean the parcel number

In [31]:
dawn_cor_df['parcel_nbr_clean'] = dawn_cor_df['parcel_nbr'].str.replace('-', '')

In [32]:
dawn_cor_df.head()

         parcel_nbr  event_date event_date2 other_note parcel_nbr_clean
0  1011-091-02-0000  03/06/2024         NaN        NaN    1011091020000
1  1008-431-08-0000  03/06/2024         NaN     Other     1008431080000
2  0292-381-39-0000  03/07/2024         NaN        NaN    0292381390000
3  1005-423-20-0000  03/11/2024         NaN        NaN    1005423200000
4  0273-132-17-0000  03/13/2024         NaN        NaN    0273132170000

## Convert date to datetime

In [40]:
dawn_cor_df['event_date'] = pd.to_datetime(dawn_cor_df['event_date'])
dawn_cor_df.head()

         parcel_nbr event_date event_date2 other_note parcel_nbr_clean
0  1011-091-02-0000 2024-03-06         NaN        NaN    1011091020000
1  1008-431-08-0000 2024-03-06         NaN     Other     1008431080000
2  0292-381-39-0000 2024-03-07         NaN        NaN    0292381390000
3  1005-423-20-0000 2024-03-11         NaN        NaN    1005423200000
4  0273-132-17-0000 2024-03-13         NaN        NaN    0273132170000

In [48]:
dawn_cap_cor_merged = pd.merge(dawn_cor_df, cap_cor_df, on=['parcel_nbr_clean','event_date'], how='inner')

In [49]:
dawn_cap_cor_merged

,parcel_nbr,event_date,event_date2,other_note,parcel_nbr_clean,capp_guid,capi_event_date
0,0186-094-51-0000,2023-11-17,NaN,Delete All 6,0186094510000,{2361C0E1-0C09-4112-A837-D53AA4445DBC},11/17/2023
1,0186-094-51-0000,2023-11-17,NaN,Delete All 6,0186094510000,{4DF3C4F8-7DA8-45F0-AE33-F6E6A09B266A},11/17/2023
2,0186-094-51-0000,2023-11-17,NaN,Delete All 6,0186094510000,{9603D688-C564-4F98-8E98-FB970B26884F},11/17/2023
3,0186-094-51-0000,2023-11-17,NaN,Delete All 6,0186094510000,{DC9BA24C-3CDF-47FE-8DD3-5AA0C5A2D3E5},11/17/2023
4,0186-094-51-0000,2023-11-17,NaN,Delete All 6,0186094510000,{E026EAA6-2FAA-44FD-961E-E060E8251327},11/17/2023
5,0415-132-04-0000,2023-09-05,NaN,NaN,0415132040000,{3DB7489E-3995-4FA3-9547-5E3E020E2652},9/5/2023
6,0130-182-09-0000,2023-09-11,NaN,NaN,0130182090000,{5C628339-C895-44C3-B7B3-F8CBAE1262BE},9/11/2023